:root {
  --color0: rgb(120, 171, 168);
  --color1: rgb(200, 207, 160);
  --color2: rgb(252, 220, 148);
  --color3: rgb(239, 156, 102);
  --guess-color: lightgrey;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 95%;
  height: 90vh;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#guess .tile {
  border-color: var(--guess-color);
}

.tile {
  margin: 5px 0px;
  width: 45px;
  height: 45px;
  border: solid;
  border-radius: 5px;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word_score {
  width: 45px;
  font-size: 20px;
  font-weight: bold;
  color: grey;
  text-align: right;
}

#total {
  font-size: 25px;
  visibility: hidden;
}

#total_score {
  font-weight: bold;
}

#user_input {
  margin-top: auto;
}

.keyboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.key {
  margin: 2px 0px;
  min-width: 30px;
  height: 40px;
  border: solid;
  border-radius: 5px;
  background-color: grey;
  color: white;
  font-weight: bold;
  font-size: 20px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

@keyframes shake {

  10%,
  90% {
    transform: translateX(-1px)
  }

  20%,
  80% {
    transform: translateX(2px)
  }

  30%,
  50%,
  70% {
    transform: translateX(-4px)
  }

  40%,
  60% {
    transform: translateX(4px)
  }
}

.wrong {
  animation-name: shake;
  animation-duration: 600ms
}